* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(194, 244, 232);
    padding-top: 100px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.form-cadastro {
    display: block;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 360px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #012e16;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    margin-top: 8px;
}